.header {
    display: grid;
    grid-template-columns: 2fr 4fr;
    max-height: 80px;
    align-items: center;
}

.menu {
    justify-self: end;
    padding: 1rem 0;
}
.menu ul {
    margin: 0;
    list-style-type: none;
}

.menu li {
    font-weight: 500;
    font-size: 0.9rem;
    float: left;
    padding: 1rem;
}

.headermob {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    max-height: 80px;
    padding: 0.5rem 1rem;
}

.headermob div:first-child {
    text-align: left;
}
.headermob div:last-child {
    text-align: right;
}
.headermob div {
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .headermob {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    .header {
        display: none;
    }
}
